# tbot configuration
# for the shc board in the denx vlab
self.boardname = 'smartweb'
self.tftpboardname = 'smartweb_hw'
self.labprompt='ttbott'
self.debug=False
self.debugstatus=True
self.ip='pollux.denx.org'
self.user='hs'
self.accept_all=True
self.keepalivetimeout=1
self.channel_timeout=0.5
self.loglevel='INFO'
self.lab_api='ssh_std'

#include lab api
sys.path.append(self.workdir + "/src/lab_api")
from ssh_std import tbot_lab_api

#lab_api u-boot
self.uboot_prompt = 'U-Boot>'
self.linux_prompt = 'ttbott#'

#retry for read line
self.read_line_retry=4

#variables used in testcases
self.tc_workfd_work_dir = '/work/hs/tbot'
self.setenv_name = 'Heiko'
self.setenv_value = 'Schocher'
self.ub_load_board_env_addr = '0x21000000'
self.tc_lab_get_uboot_source_git_repo = "/home/git/u-boot.git"
self.tc_lab_get_uboot_source_git_branch = "master"
self.tc_workfd_apply_patchwork_patches_list_hand = [
	'562712', # [U-Boot,PATCHv2,1/5] igep00x0: enable CONFIG_NET_RANDOM_ETHADDR
	'562713', #  [U-Boot,PATCHv2,2/5] igep00x0: Cleanup ethernet support
	'562714', # [U-Boot,PATCHv2,3/5] igep00x0: Do not include config_distro_defaults.h
	'562715', # [U-Boot,PATCHv2,4/5] igep00x0: Fix config header indentation
	'562716', # [U-Boot,PATCHv2,5/5] igep00x0: Remove no-op macros from config header
	'554982', '554983', '554984', '554985',	'554986', # v3 ARM: at91: improve peripheral and system clock handle functions
	'554262', '554263', '554264', '554265', # v2 ARM: at91: add UTMI PLL handle functions
	'554229', '554230', '554231', # v1 ARM: at91: add PLLB handle functions
	'554253', '554254', '554255', # v2 ARM: at91: add PMC_PLLICPR init function
        '561549' # [U-Boot,08/10] i2c: Correct command return values
]

self.tc_workfd_apply_patchwork_patches_blacklist = ['204183', '561384']

self.uboot_get_parameter_file_list = ['.config', 'include/configs/smartweb.h', 'arch/arm/mach-at91/include/mach/at91sam9260.h']
